<div class="ui container">
    <div class="ui secondary pointing menu">
        <a [routerLink]="['/']" routerLinkActive="active" class="item" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a [routerLink]="['/elementos']" routerLinkActive="active" class="item">Elementos</a>
        <a [routerLink]="['/colecoes']" routerLinkActive="active" class="item">Coleções</a>
        <a [routerLink]="['/views']" routerLinkActive="active" class="item">Views</a>
        <a [routerLink]="['/modos']" routerLinkActive="active" class="item">Modos</a>
    </div>
    <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
</div>
