<h1>Demonstração de Componentes</h1>
<p>Apresentação de componentes possívelmente uteis para desenvolvimento de aplicações, todos os componentes são reutilizaveis usando ng-content ou sendo modificados por json como nnno componente de tabela</p>
<h1>Seções</h1>
<p>Cada seção tem um estilo de componente</p>
<h1>Elementos</h1>
<p>São componentes que mostram elementos de posicionamento e carregamento</p>
<h1>Coleções</h1>
<p>Nessa seção temos componentes que dependem de dados para ser feita como tabelas</p>
<h1>Views</h1>
<p>São componentes de contagem de visualizações somente amostragem</p>
<h1>Modos</h1>
<p>São componentes que mostra componentes que apresentam jeitos diferentes de mostrar dados como modais e accordions</p>